<h3>Pipes in Angular</h3>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Output</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
          <td>uppercase</td>
          <td>{{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>lowercase</td>
          <td>{{ name | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:3</td>
          <td>{{ name | slice:3 }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:0:3</td>
          <td>{{ name | slice:0:3 }}</td>
        <tr>
          <td>{{ arr }}</td>
          <td>slice:1:5</td>
          <td>{{ arr | slice:1:5 }}</td>
        </tr>
        <tr>
          <td>{{ arr }}</td>
          <td>slice:1:5</td>
          <td>{{ arr | slice:1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'1.0-0</td>
          <td>{{ PI | number:'1.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number:'3.0-0'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ percent }}</td>
          <td>percent</td>
          <td>{{ percent| percent }}</td>
        </tr>
        <tr>
          <td>{{ percent }}</td>
          <td>percent:'2.2-2'</td>
          <td>{{ percent| percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency</td>
          <td>{{ salary | currency }}</td>
          <!-- iso4217 -->
        <tr>
          <td>{{ salary }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salary | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency:'CLP':'symbol-narrow':'.0-0'</td>
          <td>{{ salary | currency:'CLP':'symbol-narrow':'.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency:'CLP':'symbol-narrow':'.0-0'</td>
          <td>{{ salary | currency:'CLP':'symbol-narrow':'.0-0' }}</td>
        </tr>


      </tbody>

    </table>
    <!-- slice de un arr -->
    <h3>Slice</h3>
    <ul>
      <li *ngFor="let item of arr | slice:5:20">{{ item }}</li>
    </ul>
    <!-- maquetación de un array con pipe JSON -->
    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <label for="adress">Address of Wolverine</label>
        <br>
        <label for="street">Street: </label>
        <input type="text" value='{{ heroe.adress.street  | json}}' >
        <br>
        <label for="number">Number: </label>
        <input type="text" value='{{ heroe.adress.number  | json}}' >

      </div>
    </div>

    
  </div>
</div>